<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading"><h1>Listing Posts</h1></div>
  
  <div class="panel-body">
    
        <% @posts.each do |post| %>
        
            <%= link_to image_tag(post.image.url(:thumb)), post %><br>
            <%= post.description %><br>
            <%= post.user.name if post.user %><br>
            
            <% if post.user == current_user %>
              <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-primary' %>
              <%= link_to 'Destroy', post, class: 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' } %><br>
            <% end %>
            <br>
            
        <% end %>
  </div>
  
  <div class="panel-footer">
  <br>
  <%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
  </div>
</div>